<div class="task-container">
    <h1>Tasks List</h1>
    <ul *ngFor="let task of tasks">
       <mat-card>
           <h2>{{ task.title }}</h2>
           <p>{{ task.description }}</p>
           <p>{{ task.dueDate | date: 'dd-MM-yyyy' }}</p>
        </mat-card>
    </ul>
</div>