<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span>ToDo Application</span>
  </mat-toolbar-row>
</mat-toolbar>
<mat-tab-group>
    <mat-tab class="tabs" label="New Task">
        <app-new-task></app-new-task>
        <app-list-task></app-list-task>
    </mat-tab>
    <mat-tab class="tabs" label="List Tasks">
        <app-search></app-search>
        <app-list-task></app-list-task>
    </mat-tab>
</mat-tab-group>
