<div class="search-task-container">
    <h2>Search / Filter Tasks</h2>
    <mat-card>
    <form novalidate #f="ngForm">
        <mat-form-field>
            <input name="title" id="title" [(ngModel)]="model.title" matInput placeholder="Search Title">
        </mat-form-field>
        <!-- <mat-checkbox color="primary" [(ngModel)]="model.title">Checked</mat-checkbox> -->
        <section class="example-section">
            <mat-radio-group name="filter" id="filter" [(ngModel)]="model.filter">
                <mat-radio-button  color="primary" class="example-margin" value="today">Today</mat-radio-button>
                <mat-radio-button color="primary" class="example-margin" value="thisWeek">This Week</mat-radio-button>
                <mat-radio-button color="primary" class="example-margin" value="nextWeek">Next Week</mat-radio-button>
                <mat-radio-button color="primary" class="example-margin" value="overDue">Over Due</mat-radio-button>
            </mat-radio-group>
        </section>
    </form>
    <button type="submit" (click)="onSubmit(f)" mat-raised-button color="primary">Search / Filter Tasks</button>
    </mat-card>
  </div>