.search-task-container{
    background-color:#695e93;
    margin-top: -20px;
    text-align: center;
    color:#fff;
    padding-top:50px;
    padding-bottom:50px;
    padding-left: 5%;
    padding-right: 5%;
}
.nsearchew-task-container h2{
    font-style: italic;
}
.search-task-container mat-form-field{
    display: flex;
    flex-direction: column;
}

button{
    width: 100%;
}

.example-section {
    display: flex;
    align-content: center;
    align-items: center;
    height: 60px;
  }
  
  .example-margin {
    margin: 0 10px;
  }