<div class="new-task-container">
  <h2>New Task</h2>
  <mat-card>
    <form novalidate (ngSubmit)="onSubmit(f)" #f="ngForm">
      <mat-form-field>
          <input name="title" id="title" required [(ngModel)]="model.title" matInput placeholder="Task Title">
        </mat-form-field>
        <mat-form-field>
            <textarea name="description" id="description" required [(ngModel)]="model.description" matInput placeholder="Task Description"></textarea>
        </mat-form-field>
        <mat-form-field>
            <input name="dueDate" id="dueDate" required [(ngModel)]="model.dueDate" matInput [matDatepicker]="myDatepicker" placeholder="Due Date">
            <mat-datepicker-toggle matSuffix [for]="myDatepicker"></mat-datepicker-toggle>
            <mat-datepicker #myDatepicker></mat-datepicker>
        </mat-form-field>
        <button mat-raised-button color="primary">Create Task</button>
      </form>
  </mat-card>
</div>