.new-task-container{
    background-color:#695e93;
    margin-top: -20px;
    text-align: center;
    color:#fff;
    padding-top:50px;
    padding-bottom:50px;
    padding-left: 5%;
    padding-right: 5%;
}
.new-task-container h2{
    font-style: italic;
}
.new-task-container mat-form-field{
    display: flex;
    flex-direction: column;
}

button{
    width: 100%;
}
